@font-face {
  font-family: NunitoLight;
  src: url(./fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: NunitoBold;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}

body {
  background-color: #0f0f0f;
}

.img-logo {
  width: 100px;
}

li {
  font-family: NunitoLight;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: NunitoBold;
}

p {
  font-family: NunitoLight;
  color: #b2c8ba;
}

.navbar-scrolled {
  background-color: #0f0f0f;
  border-bottom: 1px solid #b2c8ba;
}

.bg-section {
  background-image: url("./images/bg_section1.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  image-rendering: pixelated;
}

swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 100%;
}
